@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Noto+Sans+JP:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte: 'Poppins', sans-serif;

    --cor-texto-branco: #ffffff;
    --cor-texto-preto: #000000;
    --cor-de-fundo: #131313;
    --cor-de-fundo-corpo: #f8f8f8;
    --cor-de-fundo-card: #2988c9;
    --cor-botoes-links: #2988c9;
}

body {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    font-family: var(--fonte);
    font-size: 1rem;
    color: var(--cor-texto-branco);
    background-color: var(--cor-de-fundo-corpo);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: var(--cor-de-fundo);
    -webkit-box-shadow: 0px 0px 13px 5px #000000;
    box-shadow: 0px 0px 13px 5px #000000;
}

.cabecalho .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho .logo-imagem img {
    width: 80px;
}

.cabecalho #btn-menu-hamburguer {
    display: none;
}

.cabecalho #menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cabecalho #menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho #menu li a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor-texto-branco);
    cursor: pointer;
}

.cabecalho #menu li:hover {
    filter: brightness(70%)
}

.cabecalho #menu li a i {
    color: var(--cor-botoes-links);
    padding-right: .4rem;
    cursor: pointer;
}

.principal {
    position:relative;
    z-index:1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    justify-content: center;
}

.principal .carrossel {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    z-index: -1;
}

.principal .carrossel-imagem {
    position: absolute;
    width: 85%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.principal .carrossel-imagem.ativa {
    opacity: 1;
    position: relative;
    /* Mantém o tamanho do container */
}

.principal .carrossel-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.principal #carrossel-botao-voltar,
.principal #carrossel-botao-proxima {
    background: none;
}

.principal #carrossel-botao-voltar i,
.principal #carrossel-botao-proxima i {
    color: var(--cor-botoes-links);
    font-size: 2rem;
    cursor: pointer;
}

.principal #carrossel-botao-voltar,
.principal #carrossel-botao-proxima {
    padding: 0 .5rem;
}

.principal #carrossel-botao-voltar i:hover,
.principal #carrossel-botao-proxima i:hover {
    filter: brightness(50%)
}

.principal .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-texto-preto);
    padding: 6rem 4rem;
    gap: .8rem;
}

.principal .info .linguagens {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

.principal .info .linguagens .lang-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    background-color: var(--cor-de-fundo-card);
    color: var(--cor-texto-branco);
    padding: 1rem;
    border: solid 2px var(--cor-de-fundo);
    border-radius: .5rem;
    transition: transform 0.5s ease;
}

.principal .info .linguagens .lang-card ul {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.principal .info .linguagens .lang-card:hover {
    transform: scale(1.1);
}

.principal .info .linguagens .lang-card h3 {
    margin: 1rem 0;
    border-bottom: 2px solid var(--cor-botoes-links);
    padding-bottom: 0.5rem;
    width: 100%;
}

.principal .info .link-agendar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-botoes-links);
    cursor: pointer;
}

.principal .info .link-agendar:hover {
    filter: brightness(50%)
}

.principal .info .aulas {
  display:flex;
  flex-direction:column;
  align-items: center;
}

.principal .info .aulas .tipos .tipo{
    flex-direction: row;
    gap:.5rem;
}

.rodape {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--cor-de-fundo);
    padding: 1rem 4rem;
    -webkit-box-shadow: 0px 5px 13px 5px #000000;
    box-shadow: 0px 5px 13px 5px #000000;
}

.rodape .contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.rodape .contato .celular {
    display: flex;
    align-items: center;
}

.rodape .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.rodape .redes-sociais .redes-sociais-icons {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.rodape i {
    font-size: 1.2rem;
    color: var(--cor-botoes-links);
    padding-right: .5rem;
    cursor: pointer;
}

.rodape i:hover {
    filter: brightness(50%)
}


@media (max-width: 768px) {
    .cabecalho {
        padding: 1rem;
        gap: 1rem;
    }

    .cabecalho #btn-menu-hamburguer,
    .cabecalho #btn-menu-hamburguer i {
        display: flex;
        align-items: center;
        gap: .4rem;
        background: none;
        font-size: 1rem;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        color: var(--cor-texto-branco);
        cursor: pointer;
    }

    .cabecalho #btn-menu-hamburguer i{
        color: var(--cor-botoes-links);
    }

    .cabecalho #btn-menu-hamburguer:hover,
    .cabecalho #btn-menu-hamburguer i:hover {
        filter: brightness(70%)
    }

    .cabecalho #menu {
        display: none;
        position: absolute;
        z-index: 2;
        background-color: var(--cor-de-fundo);
        padding: 1rem;
        right: -1;
        border-radius: .5rem;
        flex-direction: column;
        align-items: flex-start;
    }

    /* Carrossel: Ajusta altura para não ficar esticado */
    .principal .carrossel {
        height: 250px;
        margin-top: 2rem;
    }

    .principal .carrossel-imagem {
        width: 90%;
    }

    .principal .info {
        padding: 2rem 1.5rem;
        text-align: center;
    }

    .principal .info .linguagens {
        grid-template-columns: 1fr;
    }

    .principal .info .link-agendar {
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    .rodape {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
        text-align: center;
    }

    .rodape .contato .celular,
    .rodape .redes-sociais .redes-sociais-icons {
        justify-content: center;
    }
}